/* Responsive styles for screens with a maximum width of 768 pixels */

@media (max-width: 768px) {
  /* Adjust layout for better display on smaller screens */
  .avatar-picker {
    flex-direction: column; /* Display avatars in a column for improved layout */
    align-items: center; /* Center align avatars */
  }

  /* Adjust size of avatars for better visibility on smaller screens */
  .avatar,
  .selected-avatar {
    width: 60px; /* Larger width for better visibility on smaller screens */
    height: 60px; /* Larger height for better visibility on smaller screens */
  }
}

/* Base styles for avatar picker components */

.avatar-picker {
  display: flex;
  gap: 10px; /* Spacing between avatars */
}

/* Styles for individual avatars */
.avatar {
  width: 40px; /* Default width for avatars */
  height: 40px; /* Default height for avatars */
  cursor: pointer; /* Display cursor on hover to indicate interactivity */
}

/* Styles for the selected avatar */
.selected-avatar {
  width: 40px; /* Default width for selected avatar */
  height: 40px; /* Default height for selected avatar */
  cursor: pointer; /* Display cursor on hover to indicate interactivity */
  border: 2px solid #5E2A86; /* Highlight the selected avatar with a border */
}
